extends layout

block content
	div.container.container-results
		div.col-12.col-sm-12
			div.row
				div.col-sm-12.col-md-6
					div.results
						br
						span#results(data-positive =`${result.positive}` data-negative=`${result.negative}` data-neutral= `${result.neutral}`)
						h2.text-center Results for 
							h6 #{result.query}
						br
						div.pie-wrapper
							canvas#sentimentChart(width="400" height="400")
						br
						.percent-results
							p Out of #{result.total-result.error} tweets analysed:
							p#positive #{result.positive}% Positive Tweets
							p#negative #{result.negative}% Negative Tweets
							p#neutral #{result.neutral}% Neutral Tweets
				div.col-sm-12.col-md-6
					br
					br
					h5.text-center Tweets Analyzed
					div.tweet-wrapper
						each tweet in result.tweets
							div.tweet
								p= tweet
					br
					p#disclaimer Disclaimer: We purposely left out usernames for privacy reasons.
					br
					br
					p.text-center Want to know more about our calculations?
					p.text-center Check out our research at our 
						a(href="/faq") FAQ page .

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src="../js/Chart.js")
	script.
		$( document ).ready(function() {
			const positive = $('#results').data('positive');
			const negative = $('#results').data('negative');
			const neutral = $('#results').data('neutral');

			const ctx = document.getElementById("sentimentChart").getContext("2d");

			let myChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: {
			        labels: ["Positive", "Negative", "Neutral"],
			        datasets: [{
			            label: '% of sentiment emojis',
			            data: [positive, negative, neutral],
			            backgroundColor:[
			            "rgb(57, 211, 35)",
			            "rgb(210, 34, 81)",
			            "rgb(255, 205, 86)"
			            ],
			            borderWidth: 4
			        }]
			    },
			    options: {}
			});
		});
