extends layout

block content
	div.container.container-results
		div.col-12.col-sm-12
			div.row
				div.col-sm-12.col-md-6
					br
					div.container
						span#results(data-positive =`${result.positive}` data-negative=`${result.negative}` data-neutral= `${result.neutral}`)
						h2.results-heading Results for #{result.query}
						h3 Out of #{result.total-result.error} tweets analysed in the last 7 days:
						br
						p#positive #{result.positive}% were positive
						p#negative #{result.negative}% were negative
						p#neutral #{result.neutral}% were neutral
						br
						br
						p Want to know more about our calculations?
						p Check out our research at our 
							a(href="/faq") FAQ page .
				div.col-sm-12.col-md-6
					br
					br
					div.container
						div.pie-wrapper
							canvas#sentimentChart(width="400" height="400")
			div.row
				div.col-sm-12.col-md-12
					div.tweet-wrapper
						h5.tweets-analyzed Tweets Analyzed
						each tweet in result.tweets
							div.tweet
								p= tweet
					br
					p#disclaimer Disclaimer: We purposely left out usernames for privacy reasons.
					br
					br

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src="../js/Chart.js")
	script.
		$( document ).ready(function() {
			const positive = $('#results').data('positive');
			const negative = $('#results').data('negative');
			const neutral = $('#results').data('neutral');

			const ctx = document.getElementById("sentimentChart").getContext("2d");

			let myChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: {
			        labels: ["Positive", "Negative", "Neutral"],
			        datasets: [{
			            label: '% of sentiment emojis',
			            data: [positive, negative, neutral],
			            backgroundColor:[
			            "rgb(40, 167, 69)",
			            "rgb(219, 28, 21)",
			            "rgb(255, 205, 86)"
			            ],
			            borderWidth: 4
			        }]
			    },
			    options: {}
			});
		});
